@charset "UTF-8";
/****************************************************/
/*********** ALERTES ***********/
/****************************************************/
/** Error **/
/** Info **/
/** Success **/
/** Warning **/
/****************************************************/
/********** BOUTONS**********/
/****************************************************/
/** Fancy **/
/** $params est un Map qui contient les différents paramètres de conf. d'un bouton **/
/****************************************************/
/*********** HEADER ***********/
/****************************************************/
/****************************************************/
/****************************/
/****************************************************/
/****************************************************/
/*********** JUMBOTRON ***********/
/****************************************************/
/****************************************************/
/****************************/
/****************************************************/
/****************************************************/
/*********** NAVBAR ***********/
/****************************************************/
/****************************************************/
/****************************/
/****************************************************/
/****************************************************/
/*********** BREADCRUMB ***********/
/****************************************************/
/****************************************************/
/********** DEFINITIONS **********/
/****************************************************/
/* line 5, ../sass/_typos.scss */
div {
  width: 100%;
  border: solid 2px black;
  padding: 2px;
  margin-bottom: 1.1em;
}

/* line 11, ../sass/_typos.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.6em;
  color: black;
  font-weight: bold;
  font-family: "Segoe UI";
}

/* line 23, ../sass/_typos.scss */
p {
  margin-bottom: 1em;
}

/* Alignement du texte */
/* Transformation du texte */
/* Changer la couleur d'une ligne sur 2 */
/* Création d'une bordure complète */
/* Modification d'un élément actif (eg: hover) */
/****************************************************/
/********** BOUTONS **********/
/****************************************************/
/**  Bouton normal **/
/* line 8, ../sass/styles.scss */
button:first-child {
  font-size: 1em;
  color: #ff2164;
  background-color: #b300ff;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick;
}
/* line 20, ../sass/_buttons.scss */
button:first-child:hover {
  color: #cb1b50;
  background-color: #7100A2;
}
/* line 25, ../sass/_buttons.scss */
button:first-child:active {
  color: #9d183f;
  background-color: #5b0083;
}

/**  Petit bouton **/
/* line 25, ../sass/styles.scss */
button:nth-child(2) {
  font-size: 0.5em;
  color: #54ff2c;
  background-color: #ff340e;
  border-radius: 1em;
  padding: 0.1em;
  text-align: center;
  border: double blueviolet thick;
}
/* line 20, ../sass/_buttons.scss */
button:nth-child(2):hover {
  color: #43c623;
  background-color: #db2a0b;
}
/* line 25, ../sass/_buttons.scss */
button:nth-child(2):active {
  color: #35961b;
  background-color: #a4230a;
}

/**  Grand bouton **/
/* line 43, ../sass/styles.scss */
button:nth-child(3) {
  font-size: 2em;
  color: #1e33ff;
  background-color: #00d2ff;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  border: double blueviolet thick;
}
/* line 20, ../sass/_buttons.scss */
button:nth-child(3):hover {
  color: #1b2bcb;
  background-color: #00aed5;
}
/* line 25, ../sass/_buttons.scss */
button:nth-child(3):active {
  color: #1725a5;
  background-color: #007c99;
}

/**  Bouton bleu **/
/* line 61, ../sass/styles.scss */
button:nth-child(5) {
  font-size: 1em;
  color: #fff;
  background-color: #2980b9;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick;
}
/* line 20, ../sass/_buttons.scss */
button:nth-child(5):hover {
  color: #40b0f3;
  background-color: #346392;
}
/* line 25, ../sass/_buttons.scss */
button:nth-child(5):active {
  color: #4baaef;
  background-color: #27496d;
}

/**  Bouton noir **/
/* line 79, ../sass/styles.scss */
button:nth-child(6) {
  font-size: 1em;
  color: #fff;
  background-color: #171717;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick;
}
/* line 20, ../sass/_buttons.scss */
button:nth-child(6):hover {
  color: #ffffff;
  background-color: #2d2d2d;
}
/* line 25, ../sass/_buttons.scss */
button:nth-child(6):active {
  color: #4baaef;
  background-color: #3b3b3b;
}

/**  Bouton turquoise **/
/* line 97, ../sass/styles.scss */
button:nth-child(7) {
  font-size: 1em;
  color: #fff;
  background-color: #1abc9c;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick;
}
/* line 20, ../sass/_buttons.scss */
button:nth-child(7):hover {
  color: #ffffff;
  background-color: #19a385;
}
/* line 25, ../sass/_buttons.scss */
button:nth-child(7):active {
  color: #ffffff;
  background-color: #17856b;
}

/**  Fat button **/
/* line 115, ../sass/styles.scss */
button:nth-child(8) {
  border: none;
  border-radius: 0;
}

/**  XL button **/
/* line 120, ../sass/styles.scss */
button:nth-child(9) {
  width: 100%;
}

/**  Fancy button **/
/* line 125, ../sass/styles.scss */
button:nth-child(10) {
  background-color: deeppink;
  /* linear-gradient est une background-image et non une color */
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
  transition: background-color 0.5s;
}
/* line 46, ../sass/_buttons.scss */
button:nth-child(10):hover {
  background-color: steelblue;
}

/****************************************************/
/**************************/
/****************************************************/
/****************************************************/
/********** TYPOS **********/
/****************************************************/
/**  Petite police **/
/* line 138, ../sass/styles.scss */
h6 + h1 {
  color: grey;
  font-size: 0.8em;
}

/**  Puce carrée **/
/* line 143, ../sass/styles.scss */
ul + ul {
  text-decoration: none;
  list-style: square;
}

/** Colorer 1 ligne sur 2 **/
/* line 148, ../sass/styles.scss */
.swapColor li:nth-child(odd) {
  color: red;
}

/* line 152, ../sass/styles.scss */
ul + div {
  border: solid black 0.2em;
}

/** Mise en forme lors d'un hover**/
/* line 157, ../sass/styles.scss */
p.hover:hover {
  color: brown;
  font-size: 1.1em;
}

/**  Message d'erreur **/
/* line 162, ../sass/styles.scss */
.error {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("../img/error.png");
}

/**  Message d'info **/
/* line 167, ../sass/styles.scss */
.info {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("../img/info.png");
}

/**  Message succès **/
/* line 172, ../sass/styles.scss */
.success {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url("../img/success.png");
}

/**  Message d'avertissement **/
/* line 177, ../sass/styles.scss */
.warning {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("../img/warning.png");
}

/* line 182, ../sass/styles.scss */
article {
  font-size: 0em;
}
/* line 19, ../sass/_grid.scss */
article:after {
  display: block;
  content: '';
  float: none;
  clear: both;
}

/** Jumbotron **/
/* line 187, ../sass/styles.scss */
.jumbotron {
  background-color: #3a3a3a;
  color: blanchedalmond;
  font-family: "Segoe UI";
  padding: 1.5em;
}

/** Header **/
/* line 192, ../sass/styles.scss */
.header {
  font-family: "Segoe UI";
  background-color: #bebebe;
}
/* line 9, ../sass/_composers.scss */
.header p {
  padding-left: 2em;
  color: #171717;
}

/** Barre de navigation **/
/* line 197, ../sass/styles.scss */
.navbar {
  display: inline-block;
}
/* line 200, ../sass/styles.scss */
.navbar li:nth-of-type(2) {
  color: grey;
  pointer-events: none;
}
/* line 204, ../sass/styles.scss */
.navbar li:nth-of-type(3):active {
  color: red;
}

/** Breadcrumb **/
/* line 210, ../sass/styles.scss */
.breadcrumb {
  color: #ccc;
  background-color: #006;
  padding: 3px;
}
/* line 62, ../sass/_composers.scss */
.breadcrumb ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
  border: none;
}
/* line 68, ../sass/_composers.scss */
.breadcrumb ul li {
  margin-left: 0;
  padding-left: 2px;
  border: none;
  list-style: none;
  display: inline;
}

/** Section : utilisation des grilles **/
/* line 215, ../sass/styles.scss */
section {
  border: 2px solid black;
  box-sizing: border-box;
  height: 20em;
  overflow: auto;
  margin-top: 1%;
  width: 25%;
  margin-left: 0%;
  font-size: 1rem;
  display: inline-block;
}
/* line 227, ../sass/styles.scss */
section:nth-child(2) {
  width: 25%;
  margin-left: 0%;
  font-size: 1rem;
  display: inline-block;
}
/* line 231, ../sass/styles.scss */
section:nth-child(3) {
  width: 50%;
  margin-left: 0%;
  font-size: 1rem;
  display: inline-block;
}
/* line 235, ../sass/styles.scss */
section:nth-child(4) {
  width: 25%;
  margin-left: 50%;
  font-size: 1rem;
  display: inline-block;
}
