/****************************************************/
/*********** ALERTES ***********/
/****************************************************/

/** Error **/
$msg-error-color : #D8000C;
$msg-error-bgcolor : #FFBABA;

/** Info **/
$msg-info-color : #00529B;
$msg-info-bgcolor : #BDE5F8;

/** Success **/
$msg-success-color : #4F8A10;
$msg-success-bgcolor : #DFF2BF;

/** Warning **/
$msg-warning-color : #9F6000;
$msg-warning-bgcolor : #FEEFB3;

@mixin msg(){
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

@mixin error(){
  @include msg;
  color: $msg-error-color;
  background-color: $msg-error-bgcolor;
  background-image: url('../img/error.png');
}

@mixin info(){
  @include msg;
  color: $msg-info-color;
  background-color: $msg-info-bgcolor;
  background-image: url('../img/info.png');
}

@mixin success(){
  @include msg;
  color: $msg-success-color;
  background-color: $msg-success-bgcolor;
  background-image:url('../img/success.png');
}

@mixin warning(){
  @include msg;
  color: $msg-warning-color;
  background-color: $msg-warning-bgcolor;
  background-image: url('../img/warning.png');
}