/****************************************************/
/********** BOUTONS**********/
/****************************************************/

/** Fancy **/
$btn-fancy-bgcolor : deeppink;
$btn-fancy-bgcolor-hover : steelblue;

/** $params est un Map qui contient les différents paramètres de conf. d'un bouton **/
@mixin btn($params){
  font-size:        map_get($params, font-size);
  color :           map_get($params, font-color);
  background-color: map_get($params, bgcolor);
  border-radius:    map_get($params, border-radius);
  padding :         map_get($params, padding);

  text-align: center;
  border : double blueviolet thick;

  &:hover{
    color :           map_get($params, font-color-hover);
    background-color: map_get($params, bgcolor-hover);
  }

  &:active {
    color :           map_get($params, font-color-active);
    background-color: map_get($params, bgcolor-active);
  }
}

@mixin btn-fat{
  border: none;
  border-radius: 0;
}

@mixin btn-xl{
  width: 100%;
}

@mixin btn-fancy{
  background-color: $btn-fancy-bgcolor;
  /* linear-gradient est une background-image et non une color */
  background-image: linear-gradient(white, rgba(255,255,255,0));
  transition: background-color 0.5s;

  &:hover{ background-color: $btn-fancy-bgcolor-hover; }
}