/****************************************************/
/*********** HEADER ***********/
/****************************************************/

@mixin header($bgColor, $color) {
  font-family: "Segoe UI";
  background-color: $bgColor;

  p {
    padding-left: 2em;
    color: $color;
  }
}

/****************************************************/
/****************************/
/****************************************************/

/****************************************************/
/*********** JUMBOTRON ***********/
/****************************************************/
@mixin jumbotron($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
  font-family: "Segoe UI";
  padding: 1.5em;
}

/****************************************************/
/****************************/
/****************************************************/

/****************************************************/
/*********** NAVBAR ***********/
/****************************************************/
@mixin navbar {
  display: inline-block;
}

@mixin disabled {
  color: grey;
  pointer-events: none;
}

@mixin active {
  color: red;
}

/****************************************************/
/****************************/
/****************************************************/

/****************************************************/
/*********** BREADCRUMB ***********/
/****************************************************/
@mixin breadcrumb {

  color: #ccc;
  background-color: #006;
  padding: 3px;

  ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none;

    li {
      margin-left: 0;
      padding-left: 2px;
      border: none;
      list-style: none;
      display: inline;
    }
  }
}