@mixin grid($tailleColG, $nbColG, $largBox, $offset){

  $largCol : $tailleColG;
  $largGoutt : (100-($nbColG * $tailleColG))/$nbColG;
  $width : $largBox * $tailleColG + ($largBox - 1) * $largGoutt;
  $margin-left : $offset * $tailleColG + ($offset + 1) * $largGoutt;

  width: $width;
  margin-left: $margin-left;
  font-size: 1rem;

  display: inline-block;
  //float: none;

}

@mixin container{
  font-size: 0em;
  &:after{
    display: block;
    content: '';
    float: none;
    clear : both;
  }
}