@charset "UTF-8";
/****************************************************/
/*********** ALERTES ***********/
/****************************************************/
/** Error **/
/** Info **/
/** Success **/
/** Warning **/
/****************************************************/
/********** BOUTONS**********/
/****************************************************/
/** Fancy **/
/** $params est un Map qui contient les différents paramètres de conf. d'un bouton **/
/****************************************************/
/*********** HEADER ***********/
/****************************************************/
/****************************************************/
/****************************/
/****************************************************/
/****************************************************/
/*********** JUMBOTRON ***********/
/****************************************************/
/****************************************************/
/****************************/
/****************************************************/
/****************************************************/
/*********** NAVBAR ***********/
/****************************************************/
/****************************************************/
/****************************/
/****************************************************/
/****************************************************/
/*********** BREADCRUMB ***********/
/****************************************************/
/****************************************************/
/********** DEFINITIONS **********/
/****************************************************/
div {
  width: 100%;
  border: solid 2px black;
  padding: 2px;
  margin-bottom: 1.1em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.6em;
  color: black;
  font-weight: bold;
  font-family: "Segoe UI"; }

p {
  margin-bottom: 1em; }

/* Alignement du texte */
/* Transformation du texte */
/* Changer la couleur d'une ligne sur 2 */
/* Création d'une bordure complète */
/* Modification d'un élément actif (eg: hover) */
/****************************************************/
/********** BOUTONS **********/
/****************************************************/
/**  Bouton normal **/
button:first-child {
  font-size: 1em;
  color: #ff2164;
  background-color: #b300ff;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick; }
  button:first-child:hover {
    color: #cb1b50;
    background-color: #7100A2; }
  button:first-child:active {
    color: #9d183f;
    background-color: #5b0083; }

/**  Petit bouton **/
button:nth-child(2) {
  font-size: 0.5em;
  color: #54ff2c;
  background-color: #ff340e;
  border-radius: 1em;
  padding: 0.1em;
  text-align: center;
  border: double blueviolet thick; }
  button:nth-child(2):hover {
    color: #43c623;
    background-color: #db2a0b; }
  button:nth-child(2):active {
    color: #35961b;
    background-color: #a4230a; }

/**  Grand bouton **/
button:nth-child(3) {
  font-size: 2em;
  color: #1e33ff;
  background-color: #00d2ff;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  border: double blueviolet thick; }
  button:nth-child(3):hover {
    color: #1b2bcb;
    background-color: #00aed5; }
  button:nth-child(3):active {
    color: #1725a5;
    background-color: #007c99; }

/**  Bouton bleu **/
button:nth-child(5) {
  font-size: 1em;
  color: #fff;
  background-color: #2980b9;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick; }
  button:nth-child(5):hover {
    color: #40b0f3;
    background-color: #346392; }
  button:nth-child(5):active {
    color: #4baaef;
    background-color: #27496d; }

/**  Bouton noir **/
button:nth-child(6) {
  font-size: 1em;
  color: #fff;
  background-color: #171717;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick; }
  button:nth-child(6):hover {
    color: #ffffff;
    background-color: #2d2d2d; }
  button:nth-child(6):active {
    color: #4baaef;
    background-color: #3b3b3b; }

/**  Bouton turquoise **/
button:nth-child(7) {
  font-size: 1em;
  color: #fff;
  background-color: #1abc9c;
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  border: double blueviolet thick; }
  button:nth-child(7):hover {
    color: #ffffff;
    background-color: #19a385; }
  button:nth-child(7):active {
    color: #ffffff;
    background-color: #17856b; }

/**  Fat button **/
button:nth-child(8) {
  border: none;
  border-radius: 0; }

/**  XL button **/
button:nth-child(9) {
  width: 100%; }

/**  Fancy button **/
button:nth-child(10) {
  background-color: deeppink;
  /* linear-gradient est une background-image et non une color */
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
  transition: background-color 0.5s; }
  button:nth-child(10):hover {
    background-color: steelblue; }

/****************************************************/
/**************************/
/****************************************************/
/****************************************************/
/********** TYPOS **********/
/****************************************************/
/**  Petite police **/
h6 + h1 {
  color: grey;
  font-size: 0.8em; }

/**  Puce carrée **/
ul + ul {
  text-decoration: none;
  list-style: square; }

/** Colorer 1 ligne sur 2 **/
.swapColor li:nth-child(odd) {
  color: red; }

ul + div {
  border: solid black 0.2em; }

/** Mise en forme lors d'un hover**/
p.hover:hover {
  color: brown;
  font-size: 1.1em; }

/**  Message d'erreur **/
.error {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("../img/error.png"); }

/**  Message d'info **/
.info {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("../img/info.png"); }

/**  Message succès **/
.success {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url("../img/success.png"); }

/**  Message d'avertissement **/
.warning {
  border: 1px solid;
  margin: 10px 0;
  font-family: "Segoe UI";
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("../img/warning.png"); }

article {
  font-size: 0em; }
  article:after {
    display: block;
    content: '';
    float: none;
    clear: both; }

/** Jumbotron **/
.jumbotron {
  background-color: #3a3a3a;
  color: blanchedalmond;
  font-family: "Segoe UI";
  padding: 1.5em; }

/** Header **/
.header {
  font-family: "Segoe UI";
  background-color: #bebebe; }
  .header p {
    padding-left: 2em;
    color: #171717; }

/** Barre de navigation **/
.navbar {
  display: inline-block; }
  .navbar li:nth-of-type(2) {
    color: grey;
    pointer-events: none; }
  .navbar li:nth-of-type(3):active {
    color: red; }

/** Breadcrumb **/
.breadcrumb {
  color: #ccc;
  background-color: #006;
  padding: 3px; }
  .breadcrumb ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
    border: none; }
    .breadcrumb ul li {
      margin-left: 0;
      padding-left: 2px;
      border: none;
      list-style: none;
      display: inline; }

/** Section : utilisation des grilles **/
section {
  border: 2px solid black;
  box-sizing: border-box;
  height: 20em;
  overflow: auto;
  margin-top: 1%;
  width: 25%;
  margin-left: 0%;
  font-size: 1rem;
  display: inline-block; }
  section:nth-child(2) {
    width: 25%;
    margin-left: 0%;
    font-size: 1rem;
    display: inline-block; }
  section:nth-child(3) {
    width: 50%;
    margin-left: 0%;
    font-size: 1rem;
    display: inline-block; }
  section:nth-child(4) {
    width: 25%;
    margin-left: 50%;
    font-size: 1rem;
    display: inline-block; }

/*# sourceMappingURL=styles.css.map */
