@import "import";

/****************************************************/
/********** BOUTONS **********/
/****************************************************/

/**  Bouton normal **/
button:first-child {
  $params: (
          font-size: 1em,
          font-color: #ff2164,
          bgcolor: #b300ff,
          border-radius: 0.5em,
          padding: 1em,
          font-color-hover: #cb1b50,
          bgcolor-hover: #7100A2,
          font-color-active: #9d183f,
          bgcolor-active: #5b0083
  );

  @include btn($params);
}

/**  Petit bouton **/
button:nth-child(2) {

  $params: (
          font-size: 0.5em,
          font-color: #54ff2c,
          bgcolor: #ff340e,
          border-radius: 1em,
          padding: 0.1em,
          font-color-hover: #43c623,
          bgcolor-hover: #db2a0b,
          font-color-active: #35961b,
          bgcolor-active: #a4230a
  );

  @include btn($params);
}

/**  Grand bouton **/
button:nth-child(3) {

  $params: (
          font-size: 2em,
          font-color: #1e33ff,
          bgcolor: #00d2ff,
          border-radius: 2em,
          padding: 2em,
          font-color-hover: #1b2bcb,
          bgcolor-hover: #00aed5,
          font-color-active: #1725a5,
          bgcolor-active: #007c99
  );

  @include btn($params);
}

/**  Bouton bleu **/
button:nth-child(5) {

  $params: (
          font-size: 1em,
          font-color: #fff,
          bgcolor: #2980b9,
          border-radius: 2em,
          padding: 1em,
          font-color-hover: #40b0f3,
          bgcolor-hover: #346392,
          font-color-active: #4baaef,
          bgcolor-active: #27496d
  );

  @include btn($params);
}

/**  Bouton noir **/
button:nth-child(6) {

  $params: (
          font-size: 1em,
          font-color: #fff,
          bgcolor: #171717,
          border-radius: 2em,
          padding: 1em,
          font-color-hover: #ffffff,
          bgcolor-hover: #2d2d2d,
          font-color-active: #4baaef,
          bgcolor-active: #3b3b3b
  );

  @include btn($params);
}

/**  Bouton turquoise **/
button:nth-child(7) {

  $params: (
          font-size: 1em,
          font-color: #fff,
          bgcolor: #1abc9c,
          border-radius: 2em,
          padding: 1em,
          font-color-hover: #ffffff,
          bgcolor-hover: #19a385,
          font-color-active: #ffffff,
          bgcolor-active: #17856b
  );

  @include btn($params);
}

/**  Fat button **/
button:nth-child(8) {
  @include btn-fat;
}

/**  XL button **/
button:nth-child(9) {
  @include btn-xl;
}

/**  Fancy button **/
button:nth-child(10) {
  @include btn-fancy;
}

/****************************************************/
/**************************/
/****************************************************/

/****************************************************/
/********** TYPOS **********/
/****************************************************/

/**  Petite police **/
h6 + h1 {
  @include small;
}

/**  Puce carrée **/
ul + ul {
  @include square;
}

/** Colorer 1 ligne sur 2 **/
.swapColor li:nth-child(odd) {
  @include swapColor(red);
}

ul + div {
  @include border;
}

/** Mise en forme lors d'un hover**/
p.hover:hover {
  @include hover;
}

/**  Message d'erreur **/
.error {
  @include error;
}

/**  Message d'info **/
.info {
  @include info;
}

/**  Message succès **/
.success {
  @include success;
}

/**  Message d'avertissement **/
.warning {
  @include warning;
}


article {
  @include container;
}

/** Jumbotron **/
.jumbotron {
  @include jumbotron(#3a3a3a, blanchedalmond);
}

/** Header **/
.header {
  @include header(#bebebe, #171717)
}

/** Barre de navigation **/
.navbar {
  @include navbar;

  li:nth-of-type(2) {
    @include disabled;
  }

  li:nth-of-type(3):active {
    @include active;
  }
}

/** Breadcrumb **/
.breadcrumb {
  @include breadcrumb;
}

/** Section : utilisation des grilles **/
section {
  border: 2px solid black;
  box-sizing: border-box;
  height: 20em;
  overflow: auto;
  margin-top: 1%;

  $tailleColG: 25%;
  $nbColG: 4;

  @include grid($tailleColG, $nbColG, 1, 0);

  &:nth-child(2) {
    @include grid($tailleColG, $nbColG, 1, 0);
  }

  &:nth-child(3) {
    @include grid($tailleColG, $nbColG, 2, 0);
  }

  &:nth-child(4) {
    @include grid($tailleColG, $nbColG, 1, 2);
  }
}